.topNav {
  display: flex;
  height: 42px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  box-shadow: 0 2px 4px #0000001a;

  .icon {
    flex-grow: 1;
  }

  .rightSection {
    flex-grow: 0;
  }

  .links {
    display: flex;
    gap: 10px;

    .sectionLinks {
      display: flex;
      gap: 15px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 16px;
    }
  }
}
