.sectionHeader {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.sectionLink {
  height: 15px;
  margin-top: 45px;
}

.aboutContainer {
  position: relative;
  display: flex;
  justify-content: center;

  .triangle {
    position: absolute;
    transform-origin: right;
    z-index: 1;
    min-height: 75px;
    width: 10%;
    background-color: #4a4a4a;
    border-radius: 5px;
    top: 0;
    margin-left: 2%;
    clip-path: polygon(0 0, 100% 0%, 100% 98%, 0 6%);
  }
}

.showcaseContainer {
  padding: 25px 35px;
}

.waveContainer {
  height: 30vh;
  background-color: #4a4a4a;
  position: relative;
}

.contactContainer {
  color: white;
  display: flex;
}
