.topNav {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  background-color: white;
  box-shadow: 0 2px 4px #0000001a;

  .icon {
    flex-grow: 1;
  }

  .rightSection {
    flex-grow: 0;
  }

  .links {
    display: flex;
    gap: 25px;
    font-weight: 600;
    align-items: center;

    .sectionLinks {
      display: flex;
      gap: 45px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-size: 14px;
    }
  }
}
